.carousel-img {
  min-height: calc(100vh - 100px);
  object-fit: cover;
}

.consult {
  padding: 3rem;
  min-height: calc(100vh - 100px);
  background-color: #f3f5f6;
}

.consult__head span {
  color: #757575;
}

.divider {
  height: 1px;
  background-color: #aaaaaa;
  width: 150px;
  margin: 1rem auto;
}

.consult__form {
  width: 90%;
  margin: 0 auto;
}

.name-group {
  display: flex;
}

.input-field {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 10px;
}

.input-field label {
  padding-bottom: 5px;
}

.name-group .input-field {
  width: 50%;
}

.consult__btn {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4f397c;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
}

.consult__btn:hover {
  color: #ffffff;
}

.banner-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
