.carousel,
.carousel-inner,
.carousel-item,
.carousel-img {
  height: 100%;
}

.carousel-img {
  min-height: calc(100vh - 100px);
  object-fit: cover;
}

.consult {
  padding: 3rem;
  min-height: calc(100vh - 100px);
  background-color: #f3f5f6;
}

.consult__head span {
  color: #757575;
}

.divider {
  height: 1px;
  background-color: #aaaaaa;
  width: 150px;
  margin: 1rem auto;
}

.consult__btn {
  margin-top: 10px;
  background-color: #4f397c;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
}

.consult__btn:hover {
  color: #ffffff;
}

.banner-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
