* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Work Sans", sans-serif;
  position: relative;
  top: 100px;
}

.wrapper {
  min-height: 100vh;
}

.button {
  display: block;
  width: fit-content;
  background: transparent;
  transition: 0.45s;
}

.button:hover {
  transform: scale(0.95);
  color: unset;
}

.button--dark {
  background: #000000;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button--dark:hover {
  color: #ffffff;
}

.button--light {
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #000000;
  color: #000000;
}

.button--light:hover {
  color: #000000;
}

.section {
  padding: 5rem 2.5rem;
}

.section--dark {
  background-color: #000000;
  color: #ffffff;
}

.section--light {
  background-color: #ffffff;
  color: #000000;
}

.section img {
  object-fit: cover;
  max-width: 500px;
}

.section__desc {
  margin: 0 auto;
  width: 90%;
}

.section__desc h2 {
  letter-spacing: 5px;
}

.section__desc span {
  font-size: 22px;
}

.section__desc p {
  padding: 10px 0;
}

.order-2 {
  order: unset !important;
}

@media (max-width: 991px) {
  .order-2 {
    order: 2 !important;
  }
  .section__desc {
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
  }

  .section__desc .button {
    margin-left: auto;
    margin-right: auto;
  }
}
